<a href="https://colab.research.google.com/github/baladevikumar16/renewal-system/blob/master/ppts_ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a list and print the values
list=["apple","banana","cherry","dryfruits",67,98.7,"pineapple","orange","jackfruit",7890000]
print(list)

['apple', 'banana', 'cherry', 'dryfruits', 67, 98.7, 'pineapple', 'orange', 'jackfruit', 7890000]

In [ ]:
#print the 5th and last element in the list
print(list[5])
print(list[-1])#negative indexing(to print last item in the list)

98.7
7890000

In [140]:
#To print sum of the similar numbers in the list 
"""list1=[6,5,89,7,45,7,56,7]
dupl = set() # create empty set

# loop through the elements inside the list
for i in list1:
    if list1.count(i) > 1:
        dupl.add(i)
print(list1)
print(dupl)"""


listOfElems = [6,5,89,7,45,7,56,7]
dictOfElems = getDuplicatesWithInfo(listOfElems)
for key, value in dictOfElems.items():
        print('Element = ', key , ' :: Repeated Count = ', value[0] , ' :: Index Positions =  ', value[1])

Element =  7  :: Repeated Count =  3  :: Index Positions =   [3, 5, 7]

In [144]:
l=listOfElems[3]+listOfElems[5]+listOfElems[7]
print(l)

21

In [63]:
#add a new element
#remove duplicate element
#replace an element

#1.adding an element
list1=["apple", "banana", "cherry"]
list1.append("orange")#add a new element
print(list1)

list1.insert(3,"jackfruit")
print(list1)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

#2.removing an element
list2=["apple", "banana", "cherry","apple","orange"]
res = [] 
[res.append(x) for x in list2 if x not in res] #list comprehension
# printing list after removal  
print ("The list after removing duplicates : " + str(res)) 
  
#replacing element
list2=["apple", "banana", "cherry","apple","orange"]#replacing elements
list2[2]="jackfruit"#index
print(list2)

list2=["apple", "banana", "cherry","apple","orange"]
list2[2:3]=["icecream","guava"]
print(list2)

list2=["apple", "banana", "cherry","apple","orange"]
list2[1:3]=["icecream"]
print(list2)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'jackfruit', 'orange']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
The list after removing duplicates : ['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'jackfruit', 'apple', 'orange']
['apple', 'banana', 'icecream', 'guava', 'apple', 'orange']
['apple', 'icecream', 'apple', 'orange']

In [69]:
#compare 2 list and print the same elements in the list
thislist = ["apple", "banana", "cherry","lemon"]
tropical = ["mango", "pineapple", "papaya","apple"]
def common(thislist,tropical): #using function
    c = [value for value in thislist if value in tropical] 
    return c
d=common(thislist,tropical)
print(d)

#intersection method using set
a=[2,9,4,5]
b=[3,5,7,2]
print(set(a).intersection(b))

['apple']
{2, 5}

In [86]:
#merge 2 list and print the largest and smallest number
list1=[67,89,900,673,68]
list2=[23,45,60,77,34]
list3=(list1+list2)
print(list3)
list3.sort()
print(list3)
def find_len(list3): 
    length = len(list3) 
    list3.sort() 
    print("Largest element is:", list3[length-1]) 
    print("Smallest element is:", list3[0]) 
find_len(list3)

[67, 89, 900, 673, 68, 23, 45, 60, 77, 34]
[23, 34, 45, 60, 67, 68, 77, 89, 673, 900]
Largest element is: 900
Smallest element is: 23

In [ ]:
#create tuple and add,remove,replace items in tuple
"""tuple1 = ("apple", "banana", "cherry")
print(tuple1)

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)"""

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.pop("apple")
thistuple = tuple(y)
print(thistuple)

"""x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)"""

In [ ]:
#convert tuple to list
value = (10, 20, 30, 40, 50)
my_tuple = list(value)
print(my_tuple)

#convert tuple to a string
value = ('c', 'h', 'e', 'n', 'n', 'a','i')
my_string = ''.join(value)
print(my_string)

In [107]:
#print the first and last item in a tuple
value = (10, 20, 30, 40, 50)
print(value[-1])#last item
print(value[0])#first item

50
10

In [109]:
#find the index of element in a tuple:
value = (10, 20, 30, 40, 50)
print("Index of 10:",value.index(10))

Index of 10: 0

In [111]:
#length of tuple
value = (10, 20, 30, 40, 50)
print(len(value))

5

In [112]:
#list length
list=["a","bbb",90,89.7,"cccc"]
print(len(list))

5

In [120]:
#print the elements in a tuple in reverse order

x = ("wwww","gggg","jjjj")
# Reversed the tuple
y = reversed(x)
print(tuple(y))

('jjjj', 'gggg', 'wwww')

In [118]:
#print the elements in a list in reverse order
myList = ["wwww","gggg","jjjj"];
myList.reverse();
print(myList);

['jjjj', 'gggg', 'wwww']