<a href="https://colab.research.google.com/github/baladevikumar16/renewal-system/blob/master/ppts_ass2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
#sort dict by values:
y={'carl':40,'alan':2,'bob':1,'danny':3} 
                                         
l=list(y.values())   #convet the given dict. into list
#In Python Dictionary, items() method is used to return the list
#with all dictionary keys with values.
l.sort()            #sort the list
print('Ascending order is',l) #this print the sorted list 

l=list(y.values())
l.sort(reverse=True) #sort in reverse order
print('Descending order is',l)

Ascending order is [1, 2, 3, 40]

TypeError: ignored

In [14]:
#concat 2 dict and add new element to the dict
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1, dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [28]:
#convert list of tuples to dict
print(dict([('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45),("suraj", 20), ("akhil", 25), ("ashish", 30)]))

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [31]:
#sum the keys and val in the dict
d = {12: 1, 34: 3, 56: 2, 8: 5, 9: 4, 61: 6}
result1 = sum(d.values())
result2=  sum(d.keys())
print(d)
print(result1)
print(result2)

{12: 1, 34: 3, 56: 2, 8: 5, 9: 4, 61: 6}
21
180

In [68]:
#sort dict by keys
y={'carl':40,'alan':2,'bob':1,'danny':3} 
                                         
l=list(y.keys())   #convet the given dict. into list
#In Python Dictionary, items() method is used to return the list
#with all dictionary keys with values.
l.sort()            #sort the list
print('Ascending order is',l) #this print the sorted list 



l=list(y.keys())
l.sort(reverse=True) #sort in reverse order
print('Descending order is',l)

Ascending order is ['alan', 'bob', 'carl', 'danny']
Descending order is ['danny', 'carl', 'bob', 'alan']

In [2]:
#remove duplicate values by dict
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [33]:
#find out the shortest list(based on the number of elements)
def test(dict1):
    min_value=1
    result = [k for k, v in dict1.items() if len(v) == (min_value)] 
    return result    

dict1 = {
 'a': [10, 12],
 'b': [10],
 'c': [10, 20, 30, 40],
 'd': [20],
 'e': [10,30,50,70],
 'f': [80]
 }

print("\nOriginal Dictionary:")
print(dict1)
print("\nShortest list of values with the keys of the said dictionary:")
print(test(dict1))

Original Dictionary:
{'a': [10, 12], 'b': [10], 'c': [10, 20, 30, 40], 'd': [20], 'e': [10, 30, 50, 70], 'f': [80]}

Shortest list of values with the keys of the said dictionary:
['b', 'd', 'f']

In [88]:
#converting a dict to another dict and sum all the values in it
d={'key1': 1,'key2': 14,'key3': 47}
d1=d.copy()
print("The new dict is:")
print(d1)
sum1 = sum(d1[item] for item in d1)
print(sum1)

The new dict is:
{'key1': 1, 'key2': 14, 'key3': 47}
62

In [18]:
#convert a list to nested dict
list1 = ["ggg", 'iii', 'bbb']
list2=["hhh","kkk","yyy"] 
print("Given list:\n",list1)
new_list = []

# Creating list of list format
"""for elem in list1:
   temp = elem.split(', ')
   new_list.append((temp))

# Final list
res = []

for elem in new_list:
   temp = []
   for e in elem:
      temp.append(e)
   res.append(temp)

# printing
print("The list of lists:\n",res)"""


import ast
listA = ['"Mon","Tue"','"Wed","Thu","Fri"']
print("Given list: \n", listA)
res = [list(ast.literal_eval(x)) for x in listA]

# New List
print("The list of lists:\n",res)

Given list:
 ['ggg', 'iii', 'bbb']
Given list:
 ['"Mon","Tue"', '"Wed","Thu","Fri"']
The list of lists:
 [['Mon', 'Tue'], ['Wed', 'Thu', 'Fri']]

In [74]:
#In a nested dict, print the duplicate val
  
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Linus",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)
new_family={}
for key,value in myfamily.items():
    if value in new_family.values():
        new_family[key] = value

print(new_family)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Linus', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{}