<a href="https://colab.research.google.com/github/baladevikumar16/renewal-system/blob/master/python_file2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SETS
#creating set

In [1]:
"""
Set
Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, 
all with different qualities and usage.
A set is a collection which is both unordered and unindexed.
Sets are written with curly brackets.
Note: Sets are unordered, so you cannot be sure in which order the items will appear.
""""

myset={"apple","mango","banana","cherry","jackfruit"}#creating sets
print(myset)

{'mango', 'apple', 'banana', 'cherry', 'jackfruit'}

"""
Set Items->
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered->
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable->
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can add new items.

Duplicates Not Allowed->
Sets cannot have two items with the same value.

"""

In [5]:
thisset={"apple","mango","banana","cherry","jackfruit","apple"}#duplicate val are ignored-here apple is duplicate so it is not printed
print(thisset)

{'mango', 'apple', 'banana', 'cherry', 'jackfruit'}

"""Get the Length of a Set-To determine how many items a set has, use the len() method."""

In [9]:
thisset={"apple","mango","banana","cherry","jackfruit"}
print(len(thisset))

5

"""Set Items - Data Types
Set items can be of any data type:String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
A set can contain different data types"""

In [17]:
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}#set data type
print(thisset1)
print(type(thisset1))#to print datatype
#The set() Constructor
"""It is also possible to use the set() constructor to make a set.
Using the set() constructor to make a set:"""
thisset1=set(("apple","banana","ab",True,False,1,2,56,7.8,993.66))
print(thisset1)

{False, True, 2, 993.66, 7.8, 'apple', 'banana', 56, 'ab'}
<class 'set'>
{False, True, 2, 993.66, 7.8, 'apple', 'banana', 56, 'ab'}

#Access items in sets
"""You cannot access items in a set by referring to an index or a key.
But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
"""

In [26]:
#Loop through the set, and print the values
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
for x in thisset1:
    print(x)
#Check if "banana" is present in the set:
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
print(thisset1)
print("banana" in thisset1)
#Change Items-Once a set is created, you cannot change its items, but you can add new items.

False
True
2
993.66
7.8
apple
banana
56
ab
{False, True, 2, 993.66, 7.8, 'apple', 'banana', 56, 'ab'}
True

#ADD SET ITEMS

"""Add Items->
Once a set is created, you cannot change its items, but you can add new items.
To add one item to a set use the add() method.
Add an item to a set, using the add() method:1"""

In [29]:
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
thisset1.add("orange")
print(thisset1)

"""Add Sets
To add items from another set into the current set, use the update() method.
Add elements from tropical and thisset into newset:"""
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

"""
Add Any Iterable->The object in the update() method does not have be a set, it can be any iterable object (tuples, lists, dictionaries et,).
Add elements of a list to at set:"""
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{False, True, 2, 993.66, 7.8, 'apple', 'banana', 'orange', 56, 'ab'}
{'mango', 'papaya', 'apple', 'banana', 'pineapple', 'cherry'}
{'kiwi', 'apple', 'orange', 'banana', 'cherry'}

#REMOVE SET ITEMS

In [33]:
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
thisset1.remove("apple")
print(thisset1)
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
thisset1.discard("ab")
print(thisset1)
"""You can also use the pop() method to remove an item, 
but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.
The return value of the pop() method is the removed item."""
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
x=thisset1.pop()
print(x)
print(thisset1)
#The clear() method empties the set:
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
thisset1.clear()
print(thisset1)
#The del keyword will delete the set completely:
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
del thisset1
print(thisset1)# #this will raise an error because the set no longer exists

{False, True, 2, 993.66, 7.8, 'banana', 56, 'ab'}
{False, True, 2, 993.66, 7.8, 'apple', 'banana', 56}
False
{True, 2, 993.66, 7.8, 'apple', 'banana', 56, 'ab'}
set()

NameError: ignored

Loop Items-You can loop through the set items by using a for loop:
Loop through the set, and print the values:

In [35]:
thisset1={"apple","banana","ab",True,False,1,2,56,7.8,993.66}
for x in thisset1:
   print(x)

False
True
2
993.66
7.8
apple
banana
56
ab

#JOIN SETS

In [ ]:
Join Two Sets-There are several ways to join two or more sets in Python.
You can use the union() method that returns a new set containing all items from both sets, 
or the update() method that inserts all the items from one set into another:

In [53]:
"""Both union() and update() will exclude any duplicate items."""
"""The union() method returns a new set with all items from both sets:"""
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3=set1.union(set2)
print(set3)

"""The update() method inserts the items in set2 into set1:"""
set1 = {"a", "b" , "c","a"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

"""Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.
Keep the items that exist in both set x, and set y"""
set1 = {"a", "b","c",1,6,9,3}
set2 = {1, 2, 3,"a","b","c"}
set1.intersection_update(set2)
print(set1)

"""The intersection() method will return a new set, that only contains the items that are present in both sets."""
"""Return a set that contains the items that exist in both set x, and set y."""
set1 = {"a", "b","c",1,6,9,3}
set2 = {1, 2, 3,"a","b","c"}
set3=set1.intersection(set2)
print(set3)

"""Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
Keep the items that are not present in both sets:
"""
set1 = {"a", "b","c",1,6,9,3}
set2 = {1, 2, 3,"a","b","c"}
set1.symmetric_difference_update(set2)
print(set1)

"""The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
Return a set that contains all items from both sets, except items that are present in both:"""
set1 = {"a", "b","c",1,6,9,3}
set2 = {1, 2, 3,"a","b","c"}
set3=set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}
{1, 2, 3, 'a', 'c', 'b'}
{1, 3, 'a', 'c', 'b'}
{1, 3, 'a', 'c', 'b'}
{2, 6, 9}
{2, 6, 9}

Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Description
#add()	Adds an element to the set
#clear()	Removes all the elements from the set
#copy()	Returns a copy of the set
#difference()	Returns a set containing the difference between two or more sets
#difference_update()	Removes the items in this set that are also included in another, specified set
#discard()	Remove the specified item
#intersection()	Returns a set, that is the intersection of two other sets
#intersection_update()	Removes the items in this set that are not present in other, specified set(s)
#isdisjoint()	Returns whether two sets have a intersection or not
#issubset()	Returns whether another set contains this set or not
#issuperset()	Returns whether this set contains another set or not
#pop()	Removes an element from the set
#remove()	Removes the specified element
#symmetric_difference()	Returns a set with the symmetric differences of two sets
#symmetric_difference_update()	inserts the symmetric differences from this set and another
#union()	Return a set containing the union of sets
#update()	Update the set with the union of this set and others

In [58]:
x = {"apple", "banana", "cherry"}#Returns true or false, based on the two sets
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)


x = {"a", "b", "c"}#Returns true or false, based on the two sets
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)


x = {"f", "e", "d", "c", "b", "a"}#Returns true or false, based on the two sets
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

"""
The difference_update() method removes the items that exist in both sets.
The difference_update() method is different from the difference() method, 
because the difference() method returns a new set, without the unwanted items,
 and the difference_update() method removes the unwanted items from the original set.
"""
x = {"apple", "banana", "cherry"}#Remove the items that exist in both sets:
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)


x = {"apple", "banana", "cherry"}#Remove the items that exist in both sets:
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

True
True
True
{'cherry', 'banana'}
{'cherry', 'banana'}

LOOPS
#IF
#FOR
#WHILE

IF LOOP:

In [61]:
#IF,ELIF,ELSE
a=33
b=33
if a>b:
  print("a is greater than b")
elif a==b:
  print("a is equal to b")
else:
  print("b is greater than a")

a is equal to b

In [62]:
a=33
b=34
if a>b:
  print("a is greater than b")
elif a==b:
  print("a is equal to b")
else:
  print("b is greater than a")

b is greater than b

In [70]:
a=33
b=33
c=100
if c>b:print("c is greater than b")#short hand if(ie)print stmt is in the same line
elif a==b:
  print("a is equal to b")
else:
  print("b is greater than a")

c is greater than b

In [64]:
"""Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:"""
a=33
b=33
c=100
print("c is greater than b")if c>b else print("b is greater than c")#ternary or conditional expressions

c is greater than b

In [67]:
a=33
b=330
c=1000
if a<b and b<c:
  print("Both the conditions are true") 
else:
  print("Any one of the conditions are true")

Both the conditions are true

In [69]:
a=33
b=3300
c=1000
if a<b or b<c:
  print("Atleast one of the conditions are true")

Atleast one of the conditions are true

In [73]:
#Nested If
#You can have if statements inside if statements, this is called nested if statements.

x = 100
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
    if x>30:
      print("and also above 30!")
  else:
    print("but not above 30.")

Above ten,
and also above 20!
and also above 30!

In [74]:
#pass stmt
"""if statements cannot be empty, but if you for some reason have an if statement with no content, 
put in the pass statement to avoid getting an error."""
a = 33
b = 200
if b > a:
  pass

WHILE LOOP

In [79]:
#The while Loop-With the while loop we can execute a set of statements as long as a condition is true.
"""print i as long as i is less than 6"""
i=1
while i<6:
  print(i)
  i=i+1 #i+=1
  #remember to increment i, or else the loop will continue forever.

1
2
3
4
5

In [80]:
"""The break Statement-With the break statement we can stop the loop even if the while condition is true:"""
#Exit the loop when i is 3:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [89]:
"""The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:"""
#Continue to the next iteration if i is 3:
i=0
while i<6:
  i+=1
  if i==3:
     continue
  print(i)

1
2
4
5
6

In [92]:
"""The else Statement
With the else statement we can run a block of code once when the condition no longer is true:"""
#Print a message once the condition is false:

i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")#Print a message once the condition is false:

1
2
3
4
5
i is no longer less than 6

FOR LOOP

In [93]:
"""Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
This is less like the for keyword in other programming languages, and works more like an iterator method as found in 
other object-orientated programming languages.
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc."""
#Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)  #The for loop does not require an indexing variable to set beforehand.

apple
banana
cherry

In [95]:
"""Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:"""
#Loop through the letters in the word "banana":
fruits = ["apple", "banana", "cherry"]
for x in "banana":
  print(x)

b
a
n
a
n
a

In [100]:
"""The break Statement
With the break statement we can stop the loop before it has looped through all the items:
Exit the loop when x is "banana."""

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x=="banana":
    break

apple
banana

In [102]:
"""Exit the loop when x is "banana", but this time the break comes before the print."""
fruits = ["apple", "banana", "cherry"]
for x in fruits: 
  if x=="banana":
    break 
  print(x)

apple

In [105]:
"""The continue Statement-With the continue statement we can stop the current iteration of the loop, and continue with the next."""
#Do not print banana:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x=="banana":
    continue
  print(x)

apple
cherry

In [109]:
"""The range() Function-To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number."""
#Using the range() function:
for x in range(6):
  print(x) #Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

0
1
2
3
4
5

In [110]:
"""The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a 
parameter: range(2, 6), which means values from 2 to 6 (but not including 6)."""
#Using the start parameter:

for x in range(2, 6):
  print(x)

2
3
4
5

In [111]:
"""The range() function defaults to increment the sequence by 1, however it is possible to specify the increment 
value by adding a third parameter: range(2, 30, 3)."""
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [112]:
"""Else in For Loop-The else keyword in a for loop specifies a block of code to be executed when the loop is finished."""
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [114]:
"""The else block will NOT be executed if the loop is stopped by a break statement.
Break the loop when x is 3, and see what happens with the else block."""

for x in range(6):
  print(x)
  if x == 3: break
else:
  print("Finally finished!")

0
1
2
3

In [116]:
"""Nested Loops-A nested loop is a loop inside a loop.
The "inner loop" will be executed one time for each iteration of the "outer loop"."""
#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [118]:
"""The pass Statement-for loops cannot be empty, but if you for some reason have a for loop with no content, 
put in the pass statement to avoid getting an error."""
for x in [0, 1, 2]:
  pass

**JSON**
"""JSON is a syntax for storing and exchanging data.
JSON is text, written with JavaScript object notation."""

In [120]:
"""Python has a built-in package called json, which can be used to work with JSON data."""
#Import the json module:
import json

In [122]:
"""Parse JSON - Convert from JSON to Python
If you have a JSON string, you can parse it by using the json.loads() method."""
import json
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'
# parse x:
y = json.loads(x)
print(y)
print(y["age"])

{'name': 'John', 'age': 30, 'city': 'New York'}
30

In [123]:
#Convert from Python to JSON
#If you have a Python object, you can convert it into a JSON string by using the json.dumps() method.
#Convert from Python to JSON:

import json
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)
# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [124]:
#You can convert Python objects of the following types, into JSON strings:
"""
dict
list
tuple
string
int
float
True
False
None
"""
#Convert Python objects into JSON strings, and print the values:
import json
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [126]:
#When you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:
"""
Python	JSON
dict   	Object
list   	Array
tuple	  Array
str	    String
int	    Number
float	  Number
True	  true
False	  false
None	  null
"""
#Convert a Python object containing all the legal data types:

import json
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,

  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}
print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [129]:
"""Format the Result
The example above prints a JSON string, but it is not very easy to read, with no indentations and line breaks.
The json.dumps() method has parameters to make it easier to read the result:
Example
Use the indent parameter to define the numbers of indents."""
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [130]:
"""You can also define the separators, default value is (", ", ": "), which means using a comma and a 
space to separate each object, and a colon and a space to separate keys from values:
Example
Use the separators parameter to change the default separator."""
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

In [132]:
"""Order the Result
The json.dumps() method has parameters to order the keys in the result:
Example
Use the sort_keys parameter to specify if the result should be sorted or not:"""

import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'